name: Hello World Deployment

on:
  push:

jobs:
  check-slack:
    runs-on: self-hosted
    # env:
    #   release_tag: backend-service:v1.0.0
    #   ecr_repo_name: sample-repo
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Notify Build Started
        uses: ./.github/actions/slack-build-start
        with:
          slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel_id: ${{ secrets.SLACK_CHANNEL_ID }}
          image_tag: ${{ vars.RELEASE_TAG }}
          repository: ${{ vars.ECR_REPO_NAME }}
      - name: Docker image build start
        id: docker
        continue-on-error: true
        run: |
          docker image build -t new-test:v1 .
      - name: Notify Build Completed
        if: steps.docker.outcome == 'success'
        uses: ./.github/actions/slack-build-complete
        with:
            slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
            channel_id: ${{ secrets.SLACK_CHANNEL_ID }}
            image_tag: ${{ vars.RELEASE_TAG }}
            repository: ${{ vars.ECR_REPO_NAME }}
      - name: Notify Build Failed
        if: steps.docker.outcome == 'failure'
        uses: ./.github/actions/slack-build-failed
        with:
            slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
            channel_id: ${{ secrets.SLACK_CHANNEL_ID }}
            image_tag: ${{ vars.RELEASE_TAG }}
            repository: ${{ vars.ECR_REPO_NAME }}
